<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Location permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Image permission -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".InitMediaManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainApp.Employee.EmployeeAddListItem"
            android:exported="false" />
        <activity
            android:name=".MainApp.UserAccount.UserAccountAddItem"
            android:exported="false" />
        <activity
            android:name=".Stats.Stats"
            android:exported="false" />
        <activity
            android:name=".MainApp.Workplace.WorkplaceAddItem"
            android:exported="false" />
        <activity
            android:name=".MainApp.Workplace.WorkplaceManagement"
            android:exported="false" />
        <activity
            android:name=".MainApp.Department.DepartmentUpdateItem"
            android:exported="false" />
        <activity
            android:name=".MainApp.Department.DepartmentManagement"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainApp.Employee.EmployeeManagement" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MainApp.UserAccount.UserAccountManagement"
            android:exported="false" />
        <activity
            android:name=".MainApp.Manager"
            android:exported="false" />
        <activity
            android:name=".Register.Register"
            android:exported="false" /> <!-- Google map API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABKnZEUqE2vVkWD7TDrEHj_xELh0xgRkY" />

        <activity
            android:name=".Register.InformationRegister"
            android:exported="false" />
        <activity
            android:name=".MainApp.Fragment.GiaoDienChinh"
            android:exported="false" />
        <activity
            android:name=".MainApp.Timekeeping.NewTimekeeping"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Demo.DemoMapActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MainApp.AttendanceHistory.AttendanceHistory"
            android:exported="false" />
        <activity
            android:name=".MainApp.EmployeeProfile.EmployeeProfile"
            android:exported="false" />
        <activity
            android:name=".MainApp.Salary.SalarySlip"
            android:exported="false" />
        <activity
            android:name=".MainApp.Salary.SalarySlipInformation"
            android:exported="false" />
        <activity
            android:name=".MainApp.LeaveRequest.LeaveRequestHistory"
            android:exported="false" />
        <activity
            android:name=".MainApp.LeaveRequest.LeaveRequestForm"
            android:exported="false" />
        <activity
            android:name=".MainApp.LeaveRequest.LeaveRequestManager"
            android:exported="false" />
        <activity
            android:name=".MainApp.RewardsDiscipline.RewardsDiscipline"
            android:exported="false" />
        <activity
            android:name=".MainApp.RewardsDiscipline.AddRewardsDiscipline"
            android:exported="false" />
        <activity
            android:name=".MainApp.EmployeeRequest.EmployeeRequestActivity"
            android:exported="false" />
        <activity
            android:name=".MainApp.TimekeepingManager.TimekeepingExportExcel"
            android:exported="false" />
        <activity
            android:name=".Login.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".MainApp.Employee.EmployeeManagement"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>